* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sign-in-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.67px;
    margin-bottom: 14px;
    margin-top: 40px;
}

.sign-in-sub-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.97px;
    margin-bottom: 74px;
}

.user-password , .user-email {
    display: flex;
    justify-content: center;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 1.4rem;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-email{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.97px;
    margin-bottom: 50px;
}

.password-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.user-password {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.97px;
    width: 40%;
}

.log-in-container {
    display: flex;
    justify-content: center;
}

.log-in-button{
    width: 206px;
    height: 48px;
    background-color: #979797;
    color: white;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2.67px;
    text-align: center;
}

.forget-password-container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.forget-password{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    font-family: Helvetica-Neu-Bold;
}

.or-option-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.hr-or-left{
    margin-left: 35%;
    width: 600px;
    height: 1px;
}

.or-text{
    display: flex;
    justify-content: center;
    color: #979797;
    width: 30px;
    font-size: 14px;
    margin:1%
}

.hr-or-right{
    display: flex;
    justify-content: center;
    margin-right: 35%;
    width: 600px;
    height: 1px;
}

.sign-up-container{
    display: flex;
    justify-content: center;
}

.sign-up-button{
    border: 1px solid black;
    width: 206px;
    height: 48px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2.67px;
    text-align: center;
}